@model IEnumerable<Usuario>
@{
    ViewData["Title"] = "Lista";
}

<h2>Lista de Usuários</h2>

<table>
    <thread>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Login</th>
            <th>Senha</th>
            <th>Ações</th>
        </tr>
    </thread>
    <tbody>
        @foreach (Usuario u in Model)
        {
            <tr>
                <td>@u.Id</td>
                <td>@u.Nome</td>
                <td>@u.Login</td>
                <td>@u.Senha</td>
                <td>
                    <a href="/Usuario/Editar?Id=@u.Id">Editar</a>
                    <a href="/Usuario/Remover?Id=@u.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>